@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 180, 200, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:  linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.break {
  flex-basis: 100%;
  height: 0;
}



.pgn-import {
  display: flex;
  background: white;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #666;
  border-radius: 1%;
  margin-bottom: 1rem; /* Add some margin for spacing */  
}

.pgn-import label {
  margin-right: 10px; /* Add some spacing between label and input */
}

/* Style the input element  */
.pgn-import input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pgn-import p.error {
  @apply text-red-600 font-bold mb-2; /* Tailwind classes for styling */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
