@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 180, 200, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:  linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* PGN Import */
.pgn-import {
  display: flex;
  background: white;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #666;
  border-radius: 1%;
  margin-bottom: 1rem; /* Add some margin for spacing */  
}

.pgn-import label {
  margin-right: 10px; /* Add some spacing between label and input */
}

/* Style the input element  */
.pgn-import input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pgn-import p.error {
  @apply text-red-600 font-bold mb-2; /* Tailwind classes for styling */
}

/* Game Table */
.game-table {
  border: 1px solid lightgray;
}

.game-table table {
  table-layout: fixed;
  background: white;
  border-collapse: collapse;
}

.game-table th,td {
  /* border: 1px solid #ccc; */
  padding: 1em;
}


.game-table tbody tr:nth-child(odd) {
  background-color: rgb(180, 200, 220, 0.2);
}

.game-table tbody tr:nth-child(even) {
  background-color: white;
}

.game-table td {
  width: 1em;
}

.game-table th.name, td.name {
  width: 10em;
}





